body {
  width: 500px;
}

h2 {
  border-bottom: 1px solid black;
}

h1 {
  margin: 0px;
  padding: 4px;
  display: block;
  background: black;
  color: white;

  font-size: 16px;
}

table {
  width: 100%;
}

.expandable-row {
  cursor: pointer;
}

.expandable-content td {
  background-color: #eee;
}

.expandable-opener.closed::before {
  content: '\25B6';
}

.expandable-row:hover .expandable-opener.closed::before {
  content: '\25B7';
}

.expandable-opener.open::before {
  content: '\25BC';
}

.expandable-row:hover .expandable-opener.open::before {
  content: '\25BD';
}

pre {
  overflow-x: auto;
  width: 500px;
}