body {
  width: 500px;
}

h2 {
  border-bottom: 1px solid black;
}

h1 {
  margin: 0px;
  padding: 4px;
  display: block;
  background: black;
  color: white;

  font-size: 16px;
}

.col {
  float: left;
  width: 32%;

  overflow: hidden;
}

.row {
  display: block;
}

.fullcol {
  float: none;
  display: block;
  clear: left;
}

.expandable {
  /*clear: left;*/
  width: 100%;

  padding: 8px;
}

.history {
  /*display: flex;*/
  /*flex-flow: row wrap;*/
  width: 100%;
}

.toggle {
  width: 16px;
}

.col.type {
  width: 15%;
}